
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Red+Hat+Display:wght@500;700;900&display=swap');

*,
*::after,
**::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%
}
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Red Hat Display', sans-serif; */
}
html,body{
    scroll-behavior: smooth
}
@tailwind base;
@tailwind components;
@tailwind utilities;